.btn-con{
    top:55%;
    position: absolute;
    text-align: center;
}


.btn{
    display:inline-block;
    height:35px;
    width: 80%;
    
    cursor: pointer;
    margin: 15px;
    border:none;
    
    

    border-radius: 25px;
    font-size:15px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    color:#6b6a6a;
    text-decoration: none;
    background: linear-gradient(145deg, #bdc8d7, #e1eeff);
    box-shadow:  3px 3px 6px  rgba(18, 18, 19, 0.288), -3px -3px 6px #edf3fa;

             
    
    
    
}

.active, .btn:hover{
    background: #D2DEEF;
    box-shadow: inset 2px 2px 5px  #545960, 
                inset -2px -2px 5px #f3f6fa;
}



