.social{
    
	
	position: absolute;
    bottom: 25%;
    top:25%;
    right:1%; 
    display:inline-block;

    
    
    
}

.social-btn{
    display: flex;
    height:65px;
    width:65px;
    margin:0 15px;
    border-radius:8px;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    overflow: hidden;
    background: linear-gradient(145deg, #ffb4e3, #e697bf);
    box-shadow:  5px 5px 10px #664355, 
                 -5px -5px 10px #ffffff;
    border: 1px solid rgba(0,0,0,0);

    

    
}
.social-btn i{
    font-size: 42px;
    color:#777777
}

.social-btn:hover{
    
    background: #ffa8d4;
    box-shadow: inset 5px 5px 6px #6b5560, 
                inset -5px -5px 6px #ffffff;
                 

    
    
}

.social-btn:hover i{
    transform: scale(0.90);
}

.social-btn:hover .fa-instagram{
    color: #db1842;
}
.social-btn:hover .fa-linkedin{
    color: #3b5998;
}
.social-btn:hover .fa-twitter{
    color: #00acee;
}
.social-btn:hover .fa-github{
    color: rgb(83, 79, 79);
}