.social {
  /* 	
        position: absolute;
        bottom: 25%;
        top:25%;
        right:1%;  */
  display: flex;
  flex-direction: column;
  margin-top: 15%;
}

.social-btn {
  display: flex;
  height: 65px;
  width: 65px;
  margin: 10px 15px;
  border-radius: 8px;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  overflow: hidden;
  background: #d2deef;
  box-shadow: 3px 3px 6px rgba(18, 18, 19, 0.288), -3px -3px 6px #e5f2ff;
  border: 1px solid rgba(0, 0, 0, 0);
}
.social-btn i {
  font-size: 42px;
  color: rgb(128, 128, 128);
}

.social-btn:hover {
  background: #d2deef;
  box-shadow: inset 2px 2px 5px #545960, inset -2px -2px 5px #ffffff;
}

.social-btn:hover i {
  transform: scale(0.9);
}

.social-btn:hover .fa-instagram {
  color: #db1842;
}
.social-btn:hover .fa-linkedin {
  color: #3b5998;
}
.social-btn:hover .fa-twitter {
  color: #00acee;
}
.social-btn:hover .fa-github {
  color: rgb(83, 79, 79);
}

@media screen and (max-width: 500px) {
  .social {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .social-btn {
    display: flex;
    height: 65px;
    width: 65px;
    margin: 0 15px;
    border-radius: 8px;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    overflow: hidden;
    background: #d2deef;
    box-shadow: 3px 3px 6px rgba(18, 18, 19, 0.288), -3px -3px 6px #e5f2ff;
    border: 1px solid rgba(0, 0, 0, 0);
  }
  .social-btn i {
    font-size: 42px;
    color: rgb(128, 128, 128);
  }
}
