.home {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}
.profilepic {
  width: 350px;
  height: 350px;
}

@media (max-width: 800px) {
  .profilepic {
    width: 250px;
    height: 250px;
  }
}

.home h1 {
  font-size: 45px;

  letter-spacing: 2px;
  text-shadow: 3px 3px 6px rgba(18, 18, 19, 0.288), -4px -4px 8px #e5f2ff;
}

.typingeffect {
  font-size: 25px;
  margin-bottom: 30px;
  color: #6b6a6a;
}
.hr_line {
  width: 70px;
  height: 10px;
  border-radius: 5px;
  box-shadow: inset -3px -3px 7px #ffffff73,
    inset 3px 3px 5px rgba(18, 18, 19, 0.288);
}
.hr_inner {
  width: 40px;
  height: 5px;
  border-radius: 5px;
  margin: 2.5px 15px;
  background: linear-gradient(
    120deg,
    rgba(245, 108, 109, 1) 0,
    rgba(245, 108, 109, 1) 100%
  );
}
