.Nav{
    width: 20%;
	height: 90%;
	position: absolute;
	top: 4%;
	left: 4%; 
	
	
	padding: 0;
    line-height: 2;
    text-align: center;
    border-radius: 30px;

    background: linear-gradient(145deg, #e697bf, #ffb4e3);
    box-shadow:  7px 7px 14px #664355, 
             -7px -7px 14px #ffffff;
}