
  .google-map {
    width: 100%;
    height: 40vh;
  }
  
  .pin {
    display: flex;
    align-items: center;
    width: 100px;
    color:  #acc5e7;
  }
  
  .pin-icon {
    font-size: 4rem;
  }
  
  .pin-text {
    font-size: 1.3em;
  }
  
  @media screen and (min-width: 799px) {
    .google-map {
        margin-top: 10px;
      height: 40vh;
    }
  
  
    .pin {
      width: 10vw;
    }
  
    .pin-icon {
      font-size: 5vw;
    }
  }
  