
.container
{
    width: 60%;
	height: 90%;
	position: absolute;
	top: 4%;
	left: 28%; 
    line-height: 1;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 30px;
    background: #D2DEEF;
    box-shadow: 3px 3px 6px  rgba(18, 18, 19, 0.288), -3px -3px 6px #E5F2FF;
    overflow-y: auto;
   
    }

    ::-webkit-scrollbar {
        width: 10px;
        
      }

    
      
      