.App {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* vertical-align: middle; */
  padding: 20px 20px;
}

.container {
  /* margin-top: 10%; */
  /* position: absolute;
	top: 4%;
    left: 28%;  */
    width: 60%;
    height: 90vh;
    line-height: 1;
    padding: 20px 20px;
    border-radius: 30px;
    background: #d2deef;
    box-shadow: 3px 3px 6px rgba(18, 18, 19, 0.288), -3px -3px 6px #e5f2ff;
    overflow-y: auto;
}

@media screen and (max-width: 500px) {
  .App {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px 10px;
  }

  .container {
    margin-top: 10%;
    width: 90%;
    height: 100%;
    text-align: center;
    /* position: absolute;
	top: 4%;
    left: 28%;  */
    overflow: hidden;
    line-height: 1;
    padding: 10px 10px;
    border-radius: 30px;
    background: #d2deef;
    box-shadow: 3px 3px 6px rgba(18, 18, 19, 0.288), -3px -3px 6px #e5f2ff;
    /* overflow-y: auto; */
  }
}

::-webkit-scrollbar {
  width: 10px;
}

.footer {
  width: max-content;
  color: rgb(32, 31, 32);
  bottom: 0;
  margin: 0 auto;
  /* justify-content: center; */
  /* text-align: center; */
  /* position: fixed; */
  /* left: 55%; */
}
